<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>MSC</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/ext-6.0.1/build/classic/theme-crisp/resources/theme-crisp-all-debug.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/ext-6.0.1/build/packages/charts/classic/neptune/resources/charts-all-debug.css">
    	<script type="text/javascript" src="{{ STATIC_URL }}js/ext-6.0.1/build/ext-all-debug.js"></script>
    	<script type="text/javascript" src="{{ STATIC_URL }}js/ext-6.0.1/build/packages/charts/classic/charts-debug.js"></script>
    	<script type="text/javascript" src="{{ STATIC_URL }}js/ext-6.0.1/build/classic/theme-crisp/theme-crisp-debug.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ext-6.0.1/build/classic/locale/locale-ru.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/sencha/app/plugins/BadgeText.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/sencha/resources/css/app.css">
    	<script type="text/javascript" src="{{ STATIC_URL }}js/sencha/app.js"></script>
   	<script type="text/javascript" src="{{ STATIC_URL }}js/sencha/bootstrap.js"></script>
	</head>
	<body>
    </body>
</html>
